<% if(typeof err === "string") {%>
    <div class="alert alert-danger">
        <%= err %>
    </div>
    <% } %>

<% if(typeof success === "string") {%>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>