		<div id="gtco-subscribe">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2 class="cursive-font">Volte sempre !</h2>
					
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
					</div>
				</div>
			</div>
		</div>
